<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <title>GPT YOUTUBE SUMMARIZER</title>

    <script>

        var code = ""

        function renderMarkdown(summary) {
            const renderHtml = marked.parse(summary)
            document.getElementById("summary_field").innerHTML = renderHtml
        }

        function renderVideo(code, width, height) {
            const iframe = `<iframe width=${width} height=${height} src="https://www.youtube.com/embed/${code}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>`;
            console.log(iframe);
            document.getElementById("video_field").innerHTML = iframe;
        }

        function resizeContent() {

            const content = document.getElementById("content_field");
            const video_field = document.getElementById("video_field");
            const summary_field = document.getElementById("summary_field");

            const content_width = content.offsetWidth;

            const video_width = content_width * 0.5;
            const video_height = video_width * 5 / 9;

            const summary_width = content_width * 0.4;

            video_field.style.width = video_width + 'px';
            video_field.style.height = video_height + 'px';

            summary_field.style.width = summary_width + 'px';
            summary_field.style.height = video_height + 'px';

            console.log(code)

            if (code.length > 0) {
                renderVideo(code, video_width, video_height);
            }
        }

        $(document).ready(function () {

            window.addEventListener("load", resizeContent);
            window.addEventListener("resize", resizeContent);

            $("#submit").click(function (event) {
                renderMarkdown("### 생성중입니다")
                window.scrollTo({
                    top: document.body.scrollHeight,
                    behavior: "smooth"
                })

                var url = $("#input_url").val();
                const urlParams = new URL(url).searchParams;
                code = urlParams.get("v");

               resizeContent()

                $.ajax({
                    url: "/summary/"+"?code="+code,
                    type: "get",
                    contentType: "application/json",
                    success: renderMarkdown
                })
            })


        })
    </script>
</head>
<body style="margin: 0px; min-height: 100%;">

    <div id="content" style="width: 100%; height: auto; min-height: 100%; padding-bottom: 100px">
        <div style="width: 100%; height: 250px; padding-top: 5%; background-image: url(../static/src/img/virtual-2970359_1280.jpg); text-align: center" >
            <h1 style="margin: 0 auto; text-align: center; color: #ffffff">GPT YOUTUBE SUMMARY</h1>
            <h3 style="margin: 0 auto; text-align: center; color: #ffffff">2024 SKKU GRADUATE PROJECT</h3>
            <br><br>
            <input type="text" id="input_url" style="height: 50px; width: 500px; border-radius: 25px 0px 0px 25px; padding-left: 20px; font-size: 15px" placeholder="INPUT URL" required>
            <button id="submit" style="height: 56px; width: 100px; border-radius: 0px 28px 28px 0px; background-color: midnightblue; color: white;">
                    <span>SUBMIT</span>
            </button>
        </div>

        <div id="content_field" style="width: 100%; min-height: 100%; padding: 50px 30px; text-align: center">
            <div id="video_field" style="float: left; align-content: center"></div>
            <div id="summary_field" style="padding: 5px; overflow: scroll; display: inline-block; text-align: left; border: 1px solid gray; border-radius: 5px" ></div>
        </div>
    </div>



    <footer style="height: 100px; position: relative; transform: translateY(0%); background-color: gray; display: flex">
        <div style="padding: 40px">
            <span>Create By Son-GyeongSik</span>
        </div>
    </footer>
</body>

</html>